
<a asp-controller="Home" asp-action="HomeView" asp-route-category="" class="btn btn-block btn-outline-dark bg-dark text-white">
    Home
</a>

<a asp-controller="Home" asp-action="HomeView" asp-route-category="" class="btn btn-block btn-outline-dark bg-dark text-white">
   Products
</a>

<a asp-controller="Home" asp-action="HomeView" asp-route-category="" class="btn btn-block btn-outline-dark bg-dark text-white">
  Claims
</a>
